.account {
  &__membership-card {
    padding: 1rem 0;
    filter: drop-shadow(0 0.5rem 0.5rem rgba(0, 0, 0, 0.3));
    object-fit: contain;
    width: 100%;
  }

  &__wc {
    &--container {
      display: flex;
      flex-direction: column;
    }

    &--back {
      background-color: $dark-pink;
      color: white;
      padding: 1rem;
      margin-bottom: 1rem;

      &:hover {
        color: white;
        background-color: $darker-pink;
      }
    }
  }
}
