@import "variables";

.faq {
  &__head {
    &--wrap {
      position: relative;
    }

    &--hill {
      display: none;
      position: absolute;
      transform: skewY(-10deg) translateY(-50%);
      background-image: linear-gradient(#ff4000, $pink);
      width: 100%;
      height: calc(40vh + 25rem);
      min-height: 18rem;
      transform-origin: center;
      overflow: hidden;
      z-index: -1;
    }

    &--bike {
      width: 100px;
      position: absolute;
      margin: auto;
      left: 50%;
      bottom: 0;
      transform: skewY(10deg) rotate(-10deg);
      filter: brightness(6.5);
    }

    &--image {
      margin: auto;

      img {
        height: 20rem;
        width: 20rem;
        object-fit: cover;
      }
    }
  }

  &__heading {
    padding: 2rem 1rem 0 1rem;
    text-align: center;
    color: $dark;
  }

  &__intro {
    text-align: center;

    img {
      margin: 2rem 0;
      filter: brightness(0);
      height: 2rem;
    }
  }

  &__question {
    &--wrap {
      margin: 3rem auto;
      width: 100%;
      max-width: 60rem;
      display: block;
    }

    &--container {
      padding: 2rem;
      border-style: solid;
      border-width: 1px 0 0 0;
      border-color: #ddd;

      @media screen and (max-width: $mobile-width) {
        padding: 0.5rem 1.5rem;
      }
    }

    &--q {
      display: flex;
      justify-content: space-between;

      h2:hover {
        color: $pink;
      }

      &:hover {
        cursor: pointer;
      }

      .icon {
        font-size: 1.4rem;
        margin: 1rem 1rem 0 2rem;
      }
    }

    &--a {
      display: none;

      li {
        @include p;
      }
    }

    &--image {
      text-align: center;
      height: 100%;
      padding: 2.5rem 0 1rem 0;

      img {
        height: 10rem;
      }
    }
  }

  &__expand {
    text-align: right;
    padding: 1rem;

    span:hover {
      cursor: pointer;
    }
  }
}
