.footer {
  background-color: rgb(68, 68, 68);
  padding: 1rem;
  color: white;
  font-size: 0.8rem;

  p {
    margin-bottom: 0;
  }

  &__link {
    color: white;
    padding: 0 1rem;
    font-family: "Work Sans", sans-serif;
  }

  a {
    color: white;
    text-decoration: underline;

    &:hover {
        color: rgb(255, 187, 224);
    }
  }
}
