@import "variables";

.home {
  &__hero {
    &--container {
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      background-color: white;
      background-blend-mode: multiply, luminosity, luminosity;
      background-size: cover;

      width: 100%;
      height: 50vh;

      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: min-content auto;
    }

    &--header {
      grid-area: 1 / 1 / 1 / 1;
    }

    &--inside {
      grid-area: 1 / 1 / span 2 / 1;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &--text {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: min-content min-content;

      img {
        margin: 0 auto;
        width: 70%;
      }

      h1 {
        text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
        letter-spacing: -0.06em;
        color: white;
        font-size: 6rem;

        @media screen and (max-width: $mobile-width) {
          font-size: 4rem;
        }
      }
    }
  }

  &__heading {
    padding: 2rem 1rem 0 1rem;
    text-align: center;
    color: rgb(73, 73, 73);
  }

  &__intro {
    margin: 3rem 0;
    text-align: center;

    p {
      padding: 2rem 1rem 1rem 1rem;
      text-align: center;
    }
  }

  &__banner {
    &--container {
      margin: 2rem 0;
      padding: 2rem;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      background-blend-mode: multiply;
      background-size: cover;

      width: 100%;

      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: min-content auto;
    }

    &--inside {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &--text {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: min-content min-content;
      gap: 1rem;

      img {
        margin: 0 auto;
        width: 70%;
      }

      h1 {
        text-align: center;
        text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
        color: white;
      }

      p {
        color: white;
        text-align: center;
        line-height: 1.2em;
      }

      a {
        color: white;
      }
    }
  }
}
