@import "variables";

.join {
  &__content {
    background-color: #1a1a16;

    * {
      color: white !important;
    }
  }

  &__wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1.5rem 0 1rem 0;

    p {
      padding: 1rem;
      text-align: center;
    }
  }

  &__intro {
    text-align: center;
    padding: 3rem 1rem;
  }

  &__collage {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, minmax(5rem, 1fr));
    align-items: stretch;
    gap: 1rem;
    max-height: 30rem;
    z-index: 1;
    padding: 1rem;

    @media screen and (max-width: $mobile-width) {
      gap: 0.5rem;
    }

    &--image {
      object-fit: cover;
      width: 100%;

      &-1 {
        grid-area: 1 / 1 / span 3 / 1;
      }

      &-2 {
        grid-area: 1 / 2 / 1 / span 2;
      }

      &-3 {
        grid-area: 1 / 4 / span 2 / 4;
      }

      &-4 {
        grid-area: 1 / 5 / span 3 / 5;
      }

      &-5 {
        grid-area: 2 / 2 / 2 / 2;
      }

      &-6 {
        grid-area: 2 / 3 / span 2 / 3;
      }

      &-7 {
        grid-area: 3 / 4 / 3 / 4;
      }

      &-8 {
        grid-area: 3 / 2 / 3 / 2;
      }
    }
  }
}
