.mepr {
  &-most-popular {
    display: none;
  }

  &-price {
    &-box {
      padding-top: 0.2rem;
      display: grid;
      justify-items: center;
      width: 100%;
      font-family: Georgia, Times, "Times New Roman", serif;
      font-size: 1rem;
      text-align: center;

      &-head {
        display: grid;
        justify-items: center;
      }

      &-title {
        font-family: "Roboto Condensed", sans-serif;
        font-weight: 800;
        font-size: 1.9rem;
        line-height: 1em;
        margin-bottom: 1.5rem;
        text-transform: uppercase;
      }

      &-foot {
        margin-top: 1rem;
      }

      &-button {
        margin: 1.5rem 0;

        a {
          background-color: $dark-pink;

          &:hover {
            background-color: $darker-pink;
          }
        }
      }

      &-benefits,
      &-footer {
        display: none;
      }
    }
  }
}
