@import "variables";

.nav {
  &__container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    list-style-type: none;
    margin: 0;
    flex-grow: 1;
  }

  &__bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 2rem 0.5rem;

    .menu-item {
      padding: 0 0.7rem;

      a {
        color: white;
        font-family: "Work Sans", sans-serif;
        font-size: 0.9rem;
        font-weight: 500;
        letter-spacing: 0rem;
        white-space: nowrap;

        &:hover {
          text-decoration: underline;
        }
      }

      img {
        height: 1rem;
        margin-top: -0.3rem;
      }
    }

    @media screen and (max-width: $mobile-width) {
      display: none;
    }

    &--mobile {
      @media screen and (min-width: $mobile-width-plus-one) {
        display: none;
      }

      display: flex;
      justify-content: space-between;
      margin: 1rem 0.5rem;

      .menu-item {
        padding: 0 0.8rem;
        color: white;
        font-size: 1.2rem;

        a {
          color: white;
          font-family: "Work Sans", sans-serif;
          font-size: 0.9rem;
          font-weight: 500;
          letter-spacing: 0rem;
          white-space: nowrap;

          &:hover {
            text-decoration: underline;
          }
        }

        img {
          height: 1.2rem;
          margin-top: -0.3rem;
        }
      }
    }
  }

  &__offcanvas {
    @mixin item {
      margin: 0;
      padding: 0.4rem 0;

      a {
        color: white;
        white-space: nowrap;
        line-height: 1em;
        font-family: "Work Sans", sans-serif;
        font-size: 1rem;
        font-weight: 500;
        letter-spacing: 0rem;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    &--wrap {
      display: none;
    }

    &--container {
      display: flex;
      flex-direction: column;
      position: relative;
      background-color: $dark;
      padding: 2rem;
      color: white;

      .menu-item {
        @include item;
        width: fit-content;
        a {
          font-weight: 600;
        }
      }
    }

    &--close {
      position: absolute;
      top: 0;
      right: 0;
      color: white;
      font-size: 1.2rem;
      padding: 1rem 1.3rem;
    }

    &--item {
      @include item;
    }

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    margin: 0;
    list-style: none;
    padding-bottom: 1.5rem;
    // box-shadow: inset rgba(0, 0, 0, 0.2) 0px 0px 20px 0px;
  }
}
