@import "variables";

.plans {
  &__wrap {
    margin: 0 auto 5rem auto;
    max-width: 60rem;
  }

  &__hero {
    background-color: $pink;
  }

  &__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    padding: 0 2rem;
    row-gap: 3rem;
  }

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 2rem;
    width: 100%;
  }

  &__icon {
    margin: 1rem auto;
    height: 2rem;
  }
}
