.single {
  &__wrap {
    margin: 1.5rem;
  }

  &__date {
    text-align: center;
    font-style: italic;
    font-size: 1rem;
  }

  &__content {
    p {
      margin: 2rem 0;
      line-height: 2rem;
    }
    /*
    display: block;
    max-width: 100rem;
    font-family: Georgia, Times, "Times New Roman", serif;
    font-size: 1.1rem;
    line-height: 1.9em;
    color: $dark;
    margin: auto;

    @media screen and (max-width: $mobile-width) {
      font-size: 0.9rem;
    }

    p {
      padding-bottom: 2rem;
      //max-width: 50rem;
      //margin: auto;
    }

    img {
      display: block;
      margin: 3rem auto;
      max-height: 50rem;
      width: 100%;
      object-fit: contain;
    }
    */
  }
}
