.single {
  &__content {
    display: block;
    max-width: 100rem;
    margin: auto;
    padding: 2rem;
    font-family: Georgia, Times, "Times New Roman", serif;
    font-size: 1.1rem;
    line-height: 1.9em;
    color: $dark;

    @media screen and (max-width: $mobile-width) {
      font-size: 0.9rem;
    }

    img {
      display: block;
      padding: 5rem 1rem;
      margin: auto;
      width: 100%;
      max-width: 50rem;
    }
  }
}
