@import "variables";

h1 {
  margin: 0;
  font-family: "Work Sans", sans-serif;
  font-size: 4rem;
  line-height: 0.9em;
  font-weight: 700;
  letter-spacing: -0.05rem;

  @media screen and (max-width: $mobile-width) {
    font-size: 2.5rem;
  }
}

h2 {
  margin: 0;
  font-family: "Work Sans", sans-serif;
  font-size: 3rem;
  line-height: 1em;
  font-weight: 700;
  letter-spacing: -0.05rem;

  @media screen and (max-width: $mobile-width) {
    font-size: 2rem;
  }
}

p {
  margin: 0;
  font-family: Georgia, Times, "Times New Roman", serif;
  font-size: 1rem;
  color: rgb(73, 73, 73);

  &.prose {
    line-height: 2em;
  }

  @media screen and (max-width: $mobile-width) {
    font-size: 0.9rem;
  }
}

.link {
  font-family: Georgia, Times, "Times New Roman", serif;
  font-size: 0.9rem;
  line-height: 1.35rem;
  font-style: italic;
  text-decoration: underline;
  padding-top: 0.5rem;
  color: #e1429a;
  text-align: center;
}
