@import "variables";

h1 {
  margin: 1rem 0;
  font-family: "Work Sans", sans-serif;
  font-size: 4rem;
  line-height: 0.9em;
  font-weight: 700;
  letter-spacing: -0.05rem;
  color: $dark;

  @media screen and (max-width: $mobile-width) {
    font-size: 2rem;
  }
}

h2 {
  margin: 1rem 0;
  font-family: "Work Sans", sans-serif;
  font-size: 2.2rem;
  line-height: 1.1em;
  font-weight: 700;
  letter-spacing: -0.06rem;
  color: $dark;

  @media screen and (max-width: $mobile-width) {
    font-size: 1.5rem;
  }
}

h3 {
  margin: 1rem 0;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 800;
  font-size: 1.4rem;
  line-height: 1em;
  letter-spacing: -0.05rem;
  text-transform: uppercase;
  color: $dark;

  @media screen and (max-width: $mobile-width) {
    font-size: 1.2rem;
  }
}

p {
  margin: 1rem 0;
  font-family: Georgia, Times, "Times New Roman", serif;
  font-size: 1rem;
  line-height: 1.8em;
  color: $dark;
  word-wrap: break-word;

  &.prose {
    line-height: 2em;
  }

  @media screen and (max-width: $mobile-width) {
    font-size: 0.9rem;
  }
}

.link {
  font-family: Georgia, Times, "Times New Roman", serif;
  font-size: 0.9rem;
  line-height: 1.35rem;
  font-style: italic;
  text-decoration: underline;
  padding-top: 0.5rem;
  color: $dark-pink;
  text-align: center;
}
